.create-new {
  cursor: pointer;
  padding-top:5px;
  padding-bottom:10px
}
.ng-dropdown-footer{
  border-top:unset !important;
  padding: 0px 10px !important;
}
.ng-dropdown-footer:hover {
  background-color: #f5faff;
}
