<div  [ngSwitch]="isAuthenticated()">
  <ul  class="navbar-nav ml-auto">
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
              <fa-icon icon="book-open"></fa-icon>
              <span>
                 Registry
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="asset-registration"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Registration</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="work-project-register"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Work Project Register</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="work-in-progress-registration"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>W.I.P. Registration</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="work-in-progress-transfer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>W.I.P. Transfer</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="fixed-asset-acquisition"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Acquisition</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="asset-category"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Asset Category</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="delivery-note"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Delivery Note</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="business-stamp"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Business Stamp</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="purchase-order"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Purchase Order</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-invoice"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Invoice</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="settlement"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Settlement</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Navigation for locations-->
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="locations-menu">
          <span>
              <fa-icon icon="map-marked-alt"></fa-icon>
              <span>
                 Locations
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="locations-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="service-outlet"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Service Outlet</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="bank-branch-code"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Bank Branch Code</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="county-code"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>County Code</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="outlet-status"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Outlet Status</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="outlet-type"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Outlet Type</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Navigation for maintenance modules-->
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="assets-maintenance-menu">
          <span>
              <fa-icon icon="wrench"></fa-icon>
              <span>
                 Maintenance
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="assets-maintenance-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="depreciation-method"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Depreciation Method</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="fixed-asset-net-book-value"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Net Book Value</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="fixed-asset-depreciation"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Fixed Asset Depreciation</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/erp/dealer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Dealers</span>
          </span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
