<!--

    Erp System - Mark III No 15 (Caleb Series) Client 1.3.7
    Copyright © 2021 - 2023 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-asset-registration-heading" data-cy="AssetRegistrationCreateUpdateHeading">Create or edit a Asset Registration</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetNumber">Asset Number</label>
          <input
            type="text"
            class="form-control"
            name="assetNumber"
            id="field_assetNumber"
            data-cy="assetNumber"
            formControlName="assetNumber"
          />
          <div *ngIf="editForm.get('assetNumber')!.invalid && (editForm.get('assetNumber')!.dirty || editForm.get('assetNumber')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('assetNumber')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetTag">Asset Tag</label>
          <input type="text" class="form-control" name="assetTag" id="field_assetTag" data-cy="assetTag" formControlName="assetTag" />
          <div *ngIf="editForm.get('assetTag')!.invalid && (editForm.get('assetTag')!.dirty || editForm.get('assetTag')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('assetTag')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetDetails">Asset Details</label>
          <input
            type="text"
            class="form-control"
            name="assetDetails"
            id="field_assetDetails"
            data-cy="assetDetails"
            formControlName="assetDetails"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_assetCost">Asset Cost</label>
          <input type="number" class="form-control" name="assetCost" id="field_assetCost" data-cy="assetCost" formControlName="assetCost" />
          <div *ngIf="editForm.get('assetCost')!.invalid && (editForm.get('assetCost')!.dirty || editForm.get('assetCost')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('assetCost')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('assetCost')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_modelNumber">Model Number</label>
          <input
            type="text"
            class="form-control"
            name="modelNumber"
            id="field_modelNumber"
            data-cy="modelNumber"
            formControlName="modelNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_serialNumber">Serial Number</label>
          <input
            type="text"
            class="form-control"
            name="serialNumber"
            id="field_serialNumber"
            data-cy="serialNumber"
            formControlName="serialNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_comments">Comment(s)</label>
          <div>
            <div *ngIf="editForm.get('comments')!.value" class="form-text text-danger clearfix">
              <a class="pull-left" (click)="openFile(editForm.get('comments')!.value, editForm.get('commentsContentType')!.value)">open</a
              ><br />
              <span class="pull-left"
                >{{ editForm.get('commentsContentType')!.value }}, {{ byteSize(editForm.get('comments')!.value) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ comments: null }); editForm.patchValue({ commentsContentType: null })"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_comments" data-cy="comments" (change)="setFileData($event, 'comments', false)" />
          </div>
          <input type="hidden" class="form-control" name="comments" id="field_comments" data-cy="comments" formControlName="comments" />
          <input
            type="hidden"
            class="form-control"
            name="commentsContentType"
            id="field_commentsContentType"
            formControlName="commentsContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label">Placeholder(s)</label>
          <ng-select
            [items]="placeholderLookups$ | async"
            bindLabel="description"
            [trackByFn]="trackPlaceholdersByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="placeholdersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="placeholderControlInput$"
            formControlName="placeholders"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of placeholderLookups$ | async" [value]="option">
              {{ option.description }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" /> {{item.description}}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['placeholders'])!.value|json}}</div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Payment Invoice(s)</label>
          <ng-select
            [items]="paymentInvoiceLookups$ | async"
            bindLabel="invoiceNumber"
            [trackByFn]="trackPaymentInvoiceByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="paymentInvoicesLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="paymentInvoiceControlInput$"
            formControlName="paymentInvoices"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of paymentInvoiceLookups$ | async" [value]="option">
              <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <jhi-payment-invoice-selected-option-view [item]='item'></jhi-payment-invoice-selected-option-view>
                <span class="ng-value-icon right" (click)="clear(item)">×</span>
              </ng-template>
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-payment-invoice-option-view [item]='item'></jhi-payment-invoice-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['paymentInvoices'])!.value|json}}</div>
        </div>

        <!--// TODO Service Outlet(s)-->
        <div class="form-group">
          <label class="form-control-label">Service Outlet(s)</label>
          <ng-select
            [items]="serviceOutletLookups$ | async"
            bindLabel="outletCode"
            [trackByFn]="trackServiceOutletByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="serviceOutletsLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="serviceOutletControlInput$"
            formControlName="serviceOutlets"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of serviceOutletLookups$ | async" [value]="option">
              {{ option.outletCode }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              {{ item.outletCode }} {{ item.outletName }}
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{ editForm.get(['serviceOutlets'])!.value|json }}</div>
        </div>
        <div
          *ngIf="
            editForm.get(['serviceOutlets'])!.invalid &&
            (editForm.get(['serviceOutlets'])!.dirty || editForm.get(['serviceOutlets'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['serviceOutlets'])?.errors?.required"> This field is required. </small>
        </div>

        <jhi-m2m-settlement-form-control
          ngDefaultControl
          formControlName='settlements'
          [inputValues]="editForm.get(['settlements'])!.value"
          (valueSelected)='updateSettlements($event)'
          inputControlLabel='Settlement(s)'
        >
        </jhi-m2m-settlement-form-control>

        <!--// TODO Asset Category-->
        <div class="form-group">
          <label class="form-control-label">Asset Category</label>
          <ng-select
            [items]="assetCategoryLookups$ | async"
            bindLabel="assetCategoryName"
            [trackByFn]="trackAssetCategoryByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="assetCategoriesLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="assetCategoryControlInput$"
            formControlName="assetCategory"
          >
            <option [ngValue]="editForm.get('assetCategory')!.value"></option>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['assetCategory'])!.value}}</div>
        </div>
        <div
          *ngIf="
            editForm.get(['assetCategory'])!.invalid && (editForm.get(['assetCategory'])!.dirty || editForm.get(['assetCategory'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['assetCategory'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label">Purchase Order(s)</label>
          <ng-select
            [items]="purchaseOrderLookups$ | async"
            bindLabel="purchaseOrderNumber"
            [trackByFn]="trackPurchaseOrderByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="purchaseOrdersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="purchaseOrderControlInput$"
            formControlName="purchaseOrders"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of purchaseOrderLookups$ | async" [value]="option">
              {{ option.purchaseOrderNumber }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-purchase-order-option-view [item]='item'></jhi-purchase-order-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'" >{{editForm.get(['purchaseOrders'])!.value|json}}</div>
        </div>

        <!--// TODO Delivery Notes-->
        <div class="form-group">
          <label class="form-control-label">Delivery Note(s)</label>
          <ng-select
            [items]="deliveryNoteLookups$ | async"
            bindLabel="deliveryNoteNumber"
            [trackByFn]="trackDeliveryNoteByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="deliveryNotesLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="deliveryNotesControlInput$"
            formControlName="deliveryNotes"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of deliveryNoteLookups$ | async" [value]="option">
              {{ option.deliveryNoteNumber }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-delivery-note-option-view [item]='item'></jhi-delivery-note-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get('deliveryNotes')!.value|json}}</div>
        </div>

        <!--// TODO Job-Sheet (s)-->
        <div class="form-group">
          <label class="form-control-label">Job Sheet(s)</label>
          <ng-select
            [items]="jobSheetLookups$ | async"
            bindLabel="serialNumber"
            [trackByFn]="trackJobSheetByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="jobSheetsLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="jobSheetsControlInput$"
            formControlName="jobSheets"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of jobSheetLookups$ | async" [value]="option">
              {{ option.serialNumber }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-job-sheet-option-view [item]='item'></jhi-job-sheet-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{ editForm.get('jobSheets')!.value|json }}</div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Dealer</label>
          <ng-select
            [items]="dealerLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackDealerByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="dealersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="dealersInput$"
            formControlName="dealer"
          >
            <option [ngValue]="editForm.get('dealer')!.value"></option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
              <jhi-dealer-option-view [item]='item'></jhi-dealer-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get(['dealer'])!.value|formatDealerId}}</div>
        </div>
        <div *ngIf="editForm.get(['dealer'])!.invalid && (editForm.get(['dealer'])!.dirty || editForm.get(['dealer'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['dealer'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="form-group">
          <label class="form-control-label">Designated User(s)</label>
          <ng-select
            [items]="designatedUsersLookups$ | async"
            bindLabel="dealerName"
            [trackByFn]="trackDealerByFn"
            [minTermLength]="minAccountLengthTerm"
            [loading]="designatedUsersLoading"
            typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
            [typeahead]="designatedUsersControlInput$"
            formControlName="designatedUsers"
            [multiple]='true'
          >
            <ng-option *ngFor="let option of designatedUsersLookups$ | async" [value]="option">
              {{ option.dealerName }}
            </ng-option>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
              <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
                <jhi-dealer-option-view [item]='item'></jhi-dealer-option-view>
            </ng-template>
          </ng-select>
          <div *jhiHasAnyAuthority="'ROLE_DEV'">{{editForm.get('designatedUsers')!.value|json}}</div>
        </div>

        <!--<div class="form-group">
          <label for="field_assetWarranties">Asset Warranty</label>
          <select
            class="form-control"
            id="field_assetWarranties"
            data-cy="assetWarranty"
            multiple
            name="assetWarranties"
            formControlName="assetWarranties"
          >
            <option
              [ngValue]="getSelectedAssetWarranty(assetWarrantyOption, editForm.get('assetWarranties')!.value)"
              *ngFor="let assetWarrantyOption of assetWarrantiesSharedCollection; trackBy: trackAssetWarrantyById"
            >
              {{ assetWarrantyOption.description }}
            </option>
          </select>
        </div>-->

        <jhi-m2m-business-document-form-control
          ngDefaultControl
          formControlName='businessDocuments'
          [inputValues]="editForm.get(['businessDocuments'])!.value"
          (selectedValues)='updateBusinessDocument($event)'
          inputControlLabel='Business Document Attachments'
        >
        </jhi-m2m-business-document-form-control>

        <jhi-m2m-asset-warranty-form-control
          ngDefaultControl
          formControlName='assetWarranties'
          [inputValues]="editForm.get(['assetWarranties'])!.value"
          (selectedValues)='updateAssetWarranties($event)'
          inputControlLabel='Asset Warrant(y/ies)'
        >
        </jhi-m2m-asset-warranty-form-control>

        <jhi-m2m-asset-accessory-form-control
          ngDefaultControl
          formControlName='assetAccessories'
          [inputValues]="editForm.get(['assetAccessories'])!.value"
          (selectedValues)='updateAssetAccessories($event)'
          inputControlLabel='Asset Accessor(y/ies)'
        >
        </jhi-m2m-asset-accessory-form-control>

        <jhi-m2m-universally-unique-mapping-form-control
          ngDefaultControl
          formControlName='universallyUniqueMappings'
          [inputValues]="editForm.get(['universallyUniqueMappings'])!.value"
          (selectedValues)='updateUniversallyUniqueMappings($event)'
          inputControlLabel='System Mapping(s)'
        >
        </jhi-m2m-universally-unique-mapping-form-control>

        <!--<div class="form-group">
          <label for="field_universallyUniqueMappings">Universally Unique Mapping</label>
          <select
            class="form-control"
            id="field_universallyUniqueMappings"
            data-cy="universallyUniqueMapping"
            multiple
            name="universallyUniqueMappings"
            formControlName="universallyUniqueMappings"
          >
            <option
              [ngValue]="
                getSelectedUniversallyUniqueMapping(universallyUniqueMappingOption, editForm.get('universallyUniqueMappings')!.value)
              "
              *ngFor="
                let universallyUniqueMappingOption of universallyUniqueMappingsSharedCollection;
                trackBy: trackUniversallyUniqueMappingById
              "
            >
              {{ universallyUniqueMappingOption.universalKey }}
            </option>
          </select>
        </div>-->

        <!--<div class="form-group">
          <label for="field_assetAccessories">Asset Accessory</label>
          <select
            class="form-control"
            id="field_assetAccessories"
            data-cy="assetAccessory"
            multiple
            name="assetAccessories"
            formControlName="assetAccessories"
          >
            <option
              [ngValue]="getSelectedAssetAccessory(assetAccessoryOption, editForm.get('assetAccessories')!.value)"
              *ngFor="let assetAccessoryOption of assetAccessoriesSharedCollection; trackBy: trackAssetAccessoryById"
            >
              {{ assetAccessoryOption.assetDetails }}
            </option>
          </select>
        </div>-->

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
