<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="monthlyPrepaymentReportRequisition">
      <h2 data-cy="monthlyPrepaymentReportRequisitionDetailsHeading"><span>Monthly Prepayment Report Requisition</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ monthlyPrepaymentReportRequisition.id }}</span>
        </dd>
        <dt><span>Fiscal Year</span></dt>
        <dd>
          <div *ngIf="monthlyPrepaymentReportRequisition.fiscalYear">
            <a [routerLink]="['/fiscal-year', monthlyPrepaymentReportRequisition.fiscalYear?.id, 'view']">{{
              monthlyPrepaymentReportRequisition.fiscalYear?.startDate
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/monthly-prepayment-report-requisition', monthlyPrepaymentReportRequisition.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
