<!--

    Erp System - Mark III No 16 (Caleb Series) Client 1.3.9
    Copyright © 2021 - 2023 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div  [ngSwitch]="isAuthenticated()">
  <ul  class="navbar-nav ml-auto">
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="registry-menu">
          <span>
              <fa-icon icon="book-open"></fa-icon>
              <span>
                 Registry
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="registry-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="prepayment-account"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Prepayment Account</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="amortization-recurrence"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Amortization Recurrence</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Navigation for Accounts Maintenance-->
    <!--<li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="accounts-maintenance-menu">
          <span>
              <fa-icon icon="map-marked-alt"></fa-icon>
              <span>
                 Locale
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="accounts-maintenance-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="service-outlet"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Service Outlet</span>
          </a>
        </li>
      </ul>
    </li>-->

    <!-- Navigation for maintenance modules-->
    <jhi-maintenance-nav></jhi-maintenance-nav>

    <!--<li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="general-maintenance-menu">
          <span>
              <fa-icon icon="wrench"></fa-icon>
              <span>
                 Maintenance
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="general-maintenance-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="depreciation-method"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Depreciation Method</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="prepayment-mapping"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Prepayment Parameters</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="amortization-sequence"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Amortization Sequence</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="transaction-account"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Transaction Account</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="settlement"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Settlements</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-invoice"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Invoices</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="service-outlet"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Service Outlet</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="contract-metadata"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Contract Metadata</span>
          </a>
        </li>
        &lt;!&ndash;<li>
          <a
            class="dropdown-item"
            routerLink="purchase-order"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Purchase Orders</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="job-sheet"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Job Sheets</span>
          </a>
        </li>&ndash;&gt;
        <li>
          <a
            class="dropdown-item"
            routerLink="/erp/dealer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Dealers</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/placeholder"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Placeholders</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/universally-unique-mapping"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Application Mapping</span>
          </span>
          </a>
        </li>
      </ul>
    </li>-->
  </ul>
</div>
