<div>
  <h2 id="page-heading" data-cy="ReportRequisitionHeading">
    <span>Report Requisitions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-report-requisition"
        [routerLink]="['/report-requisition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Report Requisition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Report Requisition</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="reportRequisitions?.length === 0">
    <span>No Report Requisitions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="reportRequisitions && reportRequisitions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportName">
            <div class="d-flex">
              <span>Report Name</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportRequestTime">
            <div class="d-flex">
              <span>Report Request Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportPassword">
            <div class="d-flex">
              <span>Report Password</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportStatus">
            <div class="d-flex">
              <span>Report Status</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportId">
            <div class="d-flex">
              <span>Report Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportFileAttachment">
            <div class="d-flex">
              <span>Report File Attachment</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportFileCheckSum">
            <div class="d-flex">
              <span>Report File Check Sum</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportNotes">
            <div class="d-flex">
              <span>Report Notes</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportTemplate.catalogueNumber">
            <div class="d-flex">
              <span>Report Template</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportContentType.reportTypeName">
            <div class="d-flex">
              <span>Report Content Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reportRequisition of reportRequisitions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/report-requisition', reportRequisition.id, 'view']">{{ reportRequisition.id }}</a>
          </td>
          <td>{{ reportRequisition.reportName }}</td>
          <td>{{ reportRequisition.reportRequestTime | formatMediumDatetime }}</td>
          <td>{{ reportRequisition.reportPassword }}</td>
          <td>{{ reportRequisition.reportStatus }}</td>
          <td>{{ reportRequisition.reportId }}</td>
          <td>
            <a
              *ngIf="reportRequisition.reportFileAttachment"
              (click)="openFile(reportRequisition.reportFileAttachment, reportRequisition.reportFileAttachmentContentType)"
              >Open</a
            >
            <span *ngIf="reportRequisition.reportFileAttachment"
              >{{ reportRequisition.reportFileAttachmentContentType }}, {{ byteSize(reportRequisition.reportFileAttachment) }}</span
            >
          </td>
          <td>{{ reportRequisition.reportFileCheckSum }}</td>
          <td>
            <a
              *ngIf="reportRequisition.reportNotes"
              (click)="openFile(reportRequisition.reportNotes, reportRequisition.reportNotesContentType)"
              >Open</a
            >
            <span *ngIf="reportRequisition.reportNotes"
              >{{ reportRequisition.reportNotesContentType }}, {{ byteSize(reportRequisition.reportNotes) }}</span
            >
          </td>
          <td>
            <div *ngIf="reportRequisition.reportTemplate">
              <a [routerLink]="['/report-template', reportRequisition.reportTemplate.id, 'view']">{{
                reportRequisition.reportTemplate.catalogueNumber
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reportRequisition.reportContentType">
              <a [routerLink]="['/report-content-type', reportRequisition.reportContentType.id, 'view']">{{
                reportRequisition.reportContentType.reportTypeName
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/report-requisition', reportRequisition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/report-requisition', reportRequisition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(reportRequisition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="reportRequisitions && reportRequisitions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
