<div>
  <h2 id="page-heading" data-cy="ContractMetadataHeading">
    <span>Contract Metadata</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contract-metadata"
        [routerLink]="['/contract-metadata/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Contract Metadata </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Contract Metadata</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="contractMetadata?.length === 0">
    <span>No Contract Metadata found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="contractMetadata && contractMetadata.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeOfContract">
            <div class="d-flex">
              <span>Type Of Contract</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contractStatus">
            <div class="d-flex">
              <span>Contract Status</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span>Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="terminationDate">
            <div class="d-flex">
              <span>Termination Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commentsAndAttachment">
            <div class="d-flex">
              <span>Comments And Attachment</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contractTitle">
            <div class="d-flex">
              <span>Contract Title</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contractIdentifier">
            <div class="d-flex">
              <span>Contract Identifier</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contractIdentifierShort">
            <div class="d-flex">
              <span>Contract Identifier Short</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="department.dealerName">
            <div class="d-flex">
              <span>Department</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contractPartner.dealerName">
            <div class="d-flex">
              <span>Contract Partner</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responsiblePerson.applicationIdentity">
            <div class="d-flex">
              <span>Responsible Person</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="securityClearance.clearanceLevel">
            <div class="d-flex">
              <span>Security Clearance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contractMetadata of contractMetadata; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/contract-metadata', contractMetadata.id, 'view']">{{ contractMetadata.id }}</a>
          </td>
          <td>{{ contractMetadata.description }}</td>
          <td>{{ contractMetadata.typeOfContract }}</td>
          <td>{{ contractMetadata.contractStatus }}</td>
          <td>{{ contractMetadata.startDate | formatMediumDate }}</td>
          <td>{{ contractMetadata.terminationDate | formatMediumDate }}</td>
          <td>{{ contractMetadata.commentsAndAttachment }}</td>
          <td>{{ contractMetadata.contractTitle }}</td>
          <td>{{ contractMetadata.contractIdentifier }}</td>
          <td>{{ contractMetadata.contractIdentifierShort }}</td>
          <td>
            <div *ngIf="contractMetadata.department">
              <a [routerLink]="['/dealer', contractMetadata.department.id, 'view']">{{ contractMetadata.department.dealerName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contractMetadata.contractPartner">
              <a [routerLink]="['/dealer', contractMetadata.contractPartner.id, 'view']">{{
                contractMetadata.contractPartner.dealerName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contractMetadata.responsiblePerson">
              <a [routerLink]="['/application-user', contractMetadata.responsiblePerson.id, 'view']">{{
                contractMetadata.responsiblePerson.applicationIdentity
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="contractMetadata.securityClearance">
              <a [routerLink]="['/security-clearance', contractMetadata.securityClearance.id, 'view']">{{
                contractMetadata.securityClearance.clearanceLevel
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/contract-metadata', contractMetadata.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/contract-metadata', contractMetadata.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(contractMetadata)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="contractMetadata && contractMetadata.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
