<!--

    Erp System - Mark IV No 1 (David Series) Client 1.4.0
    Copyright © 2021 - 2023 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div>
  <h2 id="page-heading" data-cy="BusinessStampHeading">
    <span>Business Stamps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-business-stamp"
        [routerLink]="['/business-stamp/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Business Stamp </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Business Stamp</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="businessStamps?.length === 0">
    <span>No Business Stamps found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="businessStamps && businessStamps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stampDate">
            <div class="d-flex">
              <span>Stamp Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="purpose">
            <div class="d-flex">
              <span>Purpose</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="details">
            <div class="d-flex">
              <span>Details</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="stampHolder.dealerName">
            <div class="d-flex">
              <span>Stamp Holder</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let businessStamp of businessStamps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/business-stamp', businessStamp.id, 'view']">{{ businessStamp.id }}</a>
          </td>
          <td>{{ businessStamp.stampDate | formatMediumDate }}</td>
          <td>{{ businessStamp.purpose }}</td>
          <td>{{ businessStamp.details }}</td>
          <td>{{ businessStamp.remarks }}</td>
          <td>
            <div *ngIf="businessStamp.stampHolder">
              <a [routerLink]="['/dealer', businessStamp.stampHolder.id, 'view']">{{ businessStamp.stampHolder.dealerName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/business-stamp', businessStamp.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/business-stamp', businessStamp.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(businessStamp)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="businessStamps && businessStamps.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
