<div  [ngSwitch]="isAuthenticated()">
  <ul  class="navbar-nav ml-auto">
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
              <fa-icon icon="dochub"></fa-icon>
              <span>
                  Business Docs
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="payment-invoice"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Payment Invoice</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="purchase-order"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Purchase Order</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="delivery-note"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Delivery Note</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="business-stamp"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Business Stamp</span>
          </a>
        </li>
      </ul>
    </li>

    <!--Payment records-->
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
              <fa-icon icon="cash-register"></fa-icon>
              <span>
                  Payments
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li *jhiHasAnyAuthority="'ROLE_DEV'">
          <a
            class="dropdown-item"
            routerLink="/erp/payment"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Payments</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="settlement"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Settlements</span>
          </span>
          </a>
        </li>
        <li *jhiHasAnyAuthority="'ROLE_DEV'">
          <a
            class="dropdown-item"
            routerLink="/erp/signed-payment"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Signed-payment</span>
          </a>
        </li>
        <li *jhiHasAnyAuthority="'ROLE_DEV'">
          <a
            class="dropdown-item"
            routerLink="/erp/payment-requisition"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Requisition</span>
          </a>
        </li>
      </ul>
    </li>

    <!--Maintenance modules navigation-->
    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic"
        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu">
          <span>
              <fa-icon icon="wrench"></fa-icon>
              <span>
                  Maintenance
              </span>
          </span>
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
        <li>
          <a
            class="dropdown-item"
            routerLink="settlement-currency"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Settlement Currency</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/erp/dealer"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
          <span>
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Dealers</span>
          </span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/erp/payment-label"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Label</span>
          </a>
        </li>
        <li>
          <a
            class="dropdown-item"
            routerLink="/erp/payment-category"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="collapseNavbar()"
          >
            <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
            <span>Payment Category</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
