<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prepayment-account-heading" data-cy="PrepaymentAccountCreateUpdateHeading">Create or edit a Prepayment Account</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_catalogueNumber">Catalogue Number</label>
          <input
            type="text"
            class="form-control"
            name="catalogueNumber"
            id="field_catalogueNumber"
            data-cy="catalogueNumber"
            formControlName="catalogueNumber"
          />
          <div
            *ngIf="
              editForm.get('catalogueNumber')!.invalid &&
              (editForm.get('catalogueNumber')!.dirty || editForm.get('catalogueNumber')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('catalogueNumber')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_particulars">Particulars</label>
          <input
            type="text"
            class="form-control"
            name="particulars"
            id="field_particulars"
            data-cy="particulars"
            formControlName="particulars"
          />
          <div *ngIf="editForm.get('particulars')!.invalid && (editForm.get('particulars')!.dirty || editForm.get('particulars')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('particulars')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prepaymentAmount">Prepayment Amount</label>
          <input
            type="number"
            class="form-control"
            name="prepaymentAmount"
            id="field_prepaymentAmount"
            data-cy="prepaymentAmount"
            formControlName="prepaymentAmount"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prepaymentGuid">Prepayment Guid</label>
          <input
            type="text"
            class="form-control"
            name="prepaymentGuid"
            id="field_prepaymentGuid"
            data-cy="prepaymentGuid"
            formControlName="prepaymentGuid"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_settlementCurrency">Settlement Currency</label>
          <select
            class="form-control"
            id="field_settlementCurrency"
            data-cy="settlementCurrency"
            name="settlementCurrency"
            formControlName="settlementCurrency"
            [compareWith]="compareSettlementCurrency"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="settlementCurrencyOption" *ngFor="let settlementCurrencyOption of settlementCurrenciesSharedCollection">
              {{ settlementCurrencyOption.iso4217CurrencyCode }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_prepaymentTransaction">Prepayment Transaction</label>
          <select
            class="form-control"
            id="field_prepaymentTransaction"
            data-cy="prepaymentTransaction"
            name="prepaymentTransaction"
            formControlName="prepaymentTransaction"
            [compareWith]="compareSettlement"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="settlementOption" *ngFor="let settlementOption of settlementsSharedCollection">
              {{ settlementOption.paymentNumber }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_serviceOutlet">Service Outlet</label>
          <select
            class="form-control"
            id="field_serviceOutlet"
            data-cy="serviceOutlet"
            name="serviceOutlet"
            formControlName="serviceOutlet"
            [compareWith]="compareServiceOutlet"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="serviceOutletOption" *ngFor="let serviceOutletOption of serviceOutletsSharedCollection">
              {{ serviceOutletOption.outletCode }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dealer">Dealer</label>
          <select
            class="form-control"
            id="field_dealer"
            data-cy="dealer"
            name="dealer"
            formControlName="dealer"
            [compareWith]="compareDealer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="dealerOption" *ngFor="let dealerOption of dealersSharedCollection">{{ dealerOption.dealerName }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_debitAccount">Debit Account</label>
          <select
            class="form-control"
            id="field_debitAccount"
            data-cy="debitAccount"
            name="debitAccount"
            formControlName="debitAccount"
            [compareWith]="compareTransactionAccount"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="transactionAccountOption" *ngFor="let transactionAccountOption of transactionAccountsSharedCollection">
              {{ transactionAccountOption.accountName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_transferAccount">Transfer Account</label>
          <select
            class="form-control"
            id="field_transferAccount"
            data-cy="transferAccount"
            name="transferAccount"
            formControlName="transferAccount"
            [compareWith]="compareTransactionAccount"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="transactionAccountOption" *ngFor="let transactionAccountOption of transactionAccountsSharedCollection">
              {{ transactionAccountOption.accountName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
            [compareWith]="comparePlaceholder"
          >
            <option [ngValue]="placeholderOption" *ngFor="let placeholderOption of placeholdersSharedCollection">
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_generalParameters">General Parameters</label>
          <select
            class="form-control"
            id="field_generalParameters"
            data-cy="generalParameters"
            multiple
            name="generalParameters"
            formControlName="generalParameters"
            [compareWith]="compareUniversallyUniqueMapping"
          >
            <option
              [ngValue]="universallyUniqueMappingOption"
              *ngFor="let universallyUniqueMappingOption of universallyUniqueMappingsSharedCollection"
            >
              {{ universallyUniqueMappingOption.mappedValue }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_prepaymentParameters">Prepayment Parameters</label>
          <select
            class="form-control"
            id="field_prepaymentParameters"
            data-cy="prepaymentParameters"
            multiple
            name="prepaymentParameters"
            formControlName="prepaymentParameters"
            [compareWith]="comparePrepaymentMapping"
          >
            <option [ngValue]="prepaymentMappingOption" *ngFor="let prepaymentMappingOption of prepaymentMappingsSharedCollection">
              {{ prepaymentMappingOption.parameterKey }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_businessDocuments">Business Document</label>
          <select
            class="form-control"
            id="field_businessDocuments"
            data-cy="businessDocument"
            multiple
            name="businessDocuments"
            formControlName="businessDocuments"
            [compareWith]="compareBusinessDocument"
          >
            <option [ngValue]="businessDocumentOption" *ngFor="let businessDocumentOption of businessDocumentsSharedCollection">
              {{ businessDocumentOption.documentTitle }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
