<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="transactionAccount">
      <h2 data-cy="transactionAccountDetailsHeading"><span>Transaction Account</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ transactionAccount.id }}</span>
        </dd>
        <dt><span>Account Number</span></dt>
        <dd>
          <span>{{ transactionAccount.accountNumber }}</span>
        </dd>
        <dt><span>Account Name</span></dt>
        <dd>
          <span>{{ transactionAccount.accountName }}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
          <div *ngIf="transactionAccount.notes">
            <a (click)="openFile(transactionAccount.notes, transactionAccount.notesContentType)">Open</a>
            {{ transactionAccount.notesContentType }}, {{ byteSize(transactionAccount.notes) }}
          </div>
        </dd>
        <dt><span>Parent Account</span></dt>
        <dd>
          <div *ngIf="transactionAccount.parentAccount">
            <a [routerLink]="['/transaction-account', transactionAccount.parentAccount.id, 'view']">{{
              transactionAccount.parentAccount.accountNumber
            }}</a>
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of transactionAccount.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction-account', transactionAccount.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
