<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-payment-invoice-heading" data-cy="PaymentInvoiceCreateUpdateHeading">Create or edit a Payment Invoice</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" [formControlName]="'id'" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_invoiceNumber">Invoice Number</label>
          <input
            type="text"
            class="form-control"
            name="invoiceNumber"
            id="field_invoiceNumber"
            data-cy="invoiceNumber"
            [formControlName]="'invoiceNumber'"
          />
          <div
            *ngIf="
              editForm.get('invoiceNumber')!.invalid && (editForm.get('invoiceNumber')!.dirty || editForm.get('invoiceNumber')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('invoiceNumber')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_invoiceDate">Invoice Date</label>
          <div class="input-group">
            <input
              id="field_invoiceDate"
              data-cy="invoiceDate"
              type="text"
              class="form-control"
              name="invoiceDate"
              ngbDatepicker
              #invoiceDateDp="ngbDatepicker"
              [formControlName]="'invoiceDate'"
            />
            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <jhi-m21-settlement-currency-form-control
          [ngDefaultControl]
          [formControlName]="'settlementCurrency'"
          [inputValue]="editForm.get('settlementCurrency')!.value"
          (valueSelected)='updateSettlementCurrency($event)'
          inputControlLabel="'settlementCurrency'"
        >
          <option [ngValue]="editForm.get('settlementCurrency')!.value"></option>
        </jhi-m21-settlement-currency-form-control>

        <div class="row mb-3">
          <label class="form-label" for="field_invoiceAmount">Invoice Amount</label>
          <input
            type="number"
            class="form-control"
            name="invoiceAmount"
            id="field_invoiceAmount"
            data-cy="invoiceAmount"
            [formControlName]="'invoiceAmount'"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fileUploadToken">File Upload Token</label>
          <input
            type="text"
            class="form-control"
            name="fileUploadToken"
            id="field_fileUploadToken"
            data-cy="fileUploadToken"
            [formControlName]="'fileUploadToken'"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_compilationToken">Compilation Token</label>
          <input
            type="text"
            class="form-control"
            name="compilationToken"
            id="field_compilationToken"
            data-cy="compilationToken"
            [formControlName]="'compilationToken'"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <jhi-m2m-purchase-order-form-control
          [ngDefaultControl]
          [formControlName]="'purchaseOrders'"
          [inputValues]="editForm.get(['purchaseOrders'])!.value"
          (valueSelected)='updatePurchaseOrders($event)'
          inputControlLabel='Purchase Orders'
        >
        </jhi-m2m-purchase-order-form-control>

        <jhi-m2m-placeholder-form-control
          [ngDefaultControl]
          [formControlName]="'placeholders'"
          [inputValues]="editForm.get(['placeholders'])!.value"
          (valueSelected)='updatePlaceholders($event)'
          inputControlLabel='Placeholder Item(s)'
        >
        </jhi-m2m-placeholder-form-control>

        <jhi-m2m-payment-label-form-control
          [ngDefaultControl]
          [formControlName]="'paymentLabels'"
          [inputValues]="editForm.get(['paymentLabels'])!.value"
          (valueSelected)='updatePaymentLabels($event)'
          inputControlLabel='Payment Labels'
        >
        </jhi-m2m-payment-label-form-control>

        <jhi-m21-dealer-form-control
          [ngDefaultControl]
          [formControlName]="'biller'"
          [inputValue]="editForm.get('biller')!.value"
          (valueSelected)='updateBiller($event)'
          inputControlLabel="'biller'"
        >
          <option [ngValue]="editForm.get('biller')!.value"></option>
        </jhi-m21-dealer-form-control>

        <jhi-m2m-delivery-note-form-control
          [ngDefaultControl]
          [formControlName]="'deliveryNotes'"
          [inputValues]="editForm.get(['deliveryNotes'])!.value"
          (valueSelected)='updateDeliveryNotes($event)'
          inputControlLabel='Delivery Notes'
        >
        </jhi-m2m-delivery-note-form-control>

        <jhi-m2m-job-sheet-form-control
          [ngDefaultControl]
          [formControlName]="'jobSheets'"
          [inputValues]="editForm.get(['jobSheets'])!.value"
          (valueSelected)='updateJobSheets($event)'
          inputControlLabel='Job Sheet(s)'
        >
        </jhi-m2m-job-sheet-form-control>

        <jhi-m2m-business-document-form-control
          [ngDefaultControl]
          [formControlName]="'businessDocuments'"
          [inputValues]="editForm.get(['businessDocuments'])!.value"
          (valueSelected)='updateBusinessDocuments($event)'
          inputControlLabel='Business Document(s)'
        >
        </jhi-m2m-business-document-form-control>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
