<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="leaseLiabilityScheduleItem">
      <h2 data-cy="leaseLiabilityScheduleItemDetailsHeading"><span>Lease Liability Schedule Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.id }}</span>
        </dd>
        <dt><span>Sequence Number</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.sequenceNumber }}</span>
        </dd>
        <dt><span>Period Included</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.periodIncluded }}</span>
        </dd>
        <dt><span>Period Start Date</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.periodStartDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Period End Date</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.periodEndDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Opening Balance</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.openingBalance }}</span>
        </dd>
        <dt><span>Cash Payment</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.cashPayment }}</span>
        </dd>
        <dt><span>Principal Payment</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.principalPayment }}</span>
        </dd>
        <dt><span>Interest Payment</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.interestPayment }}</span>
        </dd>
        <dt><span>Outstanding Balance</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.outstandingBalance }}</span>
        </dd>
        <dt><span>Interest Payable Opening</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.interestPayableOpening }}</span>
        </dd>
        <dt><span>Interest Expense Accrued</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.interestExpenseAccrued }}</span>
        </dd>
        <dt><span>Interest Payable Balance</span></dt>
        <dd>
          <span>{{ leaseLiabilityScheduleItem.interestPayableBalance }}</span>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of leaseLiabilityScheduleItem.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Lease Contract</span></dt>
        <dd>
          <div *ngIf="leaseLiabilityScheduleItem.leaseContract">
            <a [routerLink]="['/lease-contract', leaseLiabilityScheduleItem.leaseContract.id, 'view']">{{
              leaseLiabilityScheduleItem.leaseContract.bookingId
            }}</a>
          </div>
        </dd>
        <dt><span>Lease Model Metadata</span></dt>
        <dd>
          <div *ngIf="leaseLiabilityScheduleItem.leaseModelMetadata">
            <a [routerLink]="['/lease-model-metadata', leaseLiabilityScheduleItem.leaseModelMetadata.id, 'view']">{{
              leaseLiabilityScheduleItem.leaseModelMetadata.modelTitle
            }}</a>
          </div>
        </dd>
        <dt><span>Universally Unique Mapping</span></dt>
        <dd>
          <span *ngFor="let universallyUniqueMapping of leaseLiabilityScheduleItem.universallyUniqueMappings; let last = last">
            <a [routerLink]="['/universally-unique-mapping', universallyUniqueMapping.id, 'view']">{{
              universallyUniqueMapping.universalKey
            }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/lease-liability-schedule-item', leaseLiabilityScheduleItem.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
