<!--

    Erp System - Mark IV No 1 (David Series) Client 1.4.0
    Copyright © 2021 - 2023 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-business-stamp-heading" data-cy="BusinessStampCreateUpdateHeading">Create or edit a Business Stamp</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_stampDate">Stamp Date</label>
          <div class="input-group">
            <input
              id="field_stampDate"
              data-cy="stampDate"
              type="text"
              class="form-control"
              name="stampDate"
              ngbDatepicker
              #stampDateDp="ngbDatepicker"
              formControlName="stampDate"
            />
            <button type="button" class="btn btn-secondary" (click)="stampDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_purpose">Purpose</label>
          <input type="text" class="form-control" name="purpose" id="field_purpose" data-cy="purpose" formControlName="purpose" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_remarks">Remarks</label>
          <textarea class="form-control" name="remarks" id="field_remarks" data-cy="remarks" formControlName="remarks"></textarea>
        </div>

        <jhi-m21-dealer-form-control
          ngDefaultControl
          formControlName='stampHolder'
          [inputValue]="editForm.get('stampHolder')!.value"
          (valueSelected)='updateStampHolder($event)'
          inputControlLabel="Stamp Holder"
        >
          <option [ngValue]="editForm.get('stampHolder')!.value"></option>
        </jhi-m21-dealer-form-control>

        <jhi-m2m-placeholder-form-control
          ngDefaultControl
          formControlName='placeholders'
          [inputValues]="editForm.get(['placeholders'])!.value"
          (selectedValues)='updatePlaceholders($event)'
          inputControlLabel='Placeholder Items'
        >
        </jhi-m2m-placeholder-form-control>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
