<div>
  <h2 id="page-heading" data-cy="PaymentInvoiceHeading">
    <span>Payment Invoices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payment-invoice"
        [routerLink]="['/payment-invoice/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Payment Invoice </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Payment Invoice</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="paymentInvoices?.length === 0">
    <span>No Payment Invoices found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="paymentInvoices && paymentInvoices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoiceNumber">
            <div class="d-flex">
              <span>Invoice Number</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoiceDate">
            <div class="d-flex">
              <span>Invoice Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="invoiceAmount">
            <div class="d-flex">
              <span>Invoice Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fileUploadToken">
            <div class="d-flex">
              <span>File Upload Token</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="compilationToken">
            <div class="d-flex">
              <span>Compilation Token</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="remarks">
            <div class="d-flex">
              <span>Remarks</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="settlementCurrency.iso4217CurrencyCode">
            <div class="d-flex">
              <span>Settlement Currency</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="biller.dealerName">
            <div class="d-flex">
              <span>Biller</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let paymentInvoice of paymentInvoices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payment-invoice', paymentInvoice.id, 'view']">{{ paymentInvoice.id }}</a>
          </td>
          <td>{{ paymentInvoice.invoiceNumber }}</td>
          <td>{{ paymentInvoice.invoiceDate | formatMediumDate }}</td>
          <td>{{ paymentInvoice.invoiceAmount }}</td>
          <td>{{ paymentInvoice.fileUploadToken }}</td>
          <td>{{ paymentInvoice.compilationToken }}</td>
          <td>{{ paymentInvoice.remarks }}</td>
          <td>
            <div *ngIf="paymentInvoice.settlementCurrency">
              <a [routerLink]="['/settlement-currency', paymentInvoice.settlementCurrency.id, 'view']">{{
                paymentInvoice.settlementCurrency.iso4217CurrencyCode
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="paymentInvoice.biller">
              <a [routerLink]="['/dealer', paymentInvoice.biller.id, 'view']">{{ paymentInvoice.biller.dealerName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payment-invoice', paymentInvoice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payment-invoice', paymentInvoice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(paymentInvoice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paymentInvoices && paymentInvoices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
