<div>
  <h2 id="page-heading" data-cy="SignedPaymentHeading">
    <span>Signed Payments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-signed-payment"
        [routerLink]="['/signed-payment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Signed Payment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Signed Payment</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="signedPayments?.length === 0">
    <span>No Signed Payments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="signedPayments && signedPayments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionNumber">
            <div class="d-flex">
              <span>Transaction Number</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionDate">
            <div class="d-flex">
              <span>Transaction Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionCurrency">
            <div class="d-flex">
              <span>Transaction Currency</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transactionAmount">
            <div class="d-flex">
              <span>Transaction Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dealerName">
            <div class="d-flex">
              <span>Dealer Name</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fileUploadToken">
            <div class="d-flex">
              <span>File Upload Token</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="compilationToken">
            <div class="d-flex">
              <span>Compilation Token</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentCategory.categoryName">
            <div class="d-flex">
              <span>Payment Category</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="signedPaymentGroup.id">
            <div class="d-flex">
              <span>Signed Payment Group</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let signedPayment of signedPayments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/signed-payment', signedPayment.id, 'view']">{{ signedPayment.id }}</a>
          </td>
          <td>{{ signedPayment.transactionNumber }}</td>
          <td>{{ signedPayment.transactionDate | formatMediumDate }}</td>
          <td>{{ signedPayment.transactionCurrency }}</td>
          <td>{{ signedPayment.transactionAmount }}</td>
          <td>{{ signedPayment.dealerName }}</td>
          <td>{{ signedPayment.fileUploadToken }}</td>
          <td>{{ signedPayment.compilationToken }}</td>
          <td>
            <div *ngIf="signedPayment.paymentCategory">
              <a [routerLink]="['/payment-category', signedPayment.paymentCategory.id, 'view']">{{
                signedPayment.paymentCategory.categoryName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="signedPayment.signedPaymentGroup">
              <a [routerLink]="['/signed-payment', signedPayment.signedPaymentGroup.id, 'view']">{{
                signedPayment.signedPaymentGroup.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/signed-payment', signedPayment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/signed-payment', signedPayment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(signedPayment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="signedPayments && signedPayments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
