<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lease-liability-schedule-item-heading" data-cy="LeaseLiabilityScheduleItemCreateUpdateHeading">
        Create or edit a Lease Liability Schedule Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sequenceNumber">Sequence Number</label>
          <input
            type="number"
            class="form-control"
            name="sequenceNumber"
            id="field_sequenceNumber"
            data-cy="sequenceNumber"
            formControlName="sequenceNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_periodIncluded">Period Included</label>
          <input
            type="checkbox"
            class="form-check"
            name="periodIncluded"
            id="field_periodIncluded"
            data-cy="periodIncluded"
            formControlName="periodIncluded"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_periodStartDate">Period Start Date</label>
          <div class="input-group">
            <input
              id="field_periodStartDate"
              data-cy="periodStartDate"
              type="text"
              class="form-control"
              name="periodStartDate"
              ngbDatepicker
              #periodStartDateDp="ngbDatepicker"
              formControlName="periodStartDate"
            />
            <button type="button" class="btn btn-secondary" (click)="periodStartDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_periodEndDate">Period End Date</label>
          <div class="input-group">
            <input
              id="field_periodEndDate"
              data-cy="periodEndDate"
              type="text"
              class="form-control"
              name="periodEndDate"
              ngbDatepicker
              #periodEndDateDp="ngbDatepicker"
              formControlName="periodEndDate"
            />
            <button type="button" class="btn btn-secondary" (click)="periodEndDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_openingBalance">Opening Balance</label>
          <input
            type="number"
            class="form-control"
            name="openingBalance"
            id="field_openingBalance"
            data-cy="openingBalance"
            formControlName="openingBalance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_cashPayment">Cash Payment</label>
          <input
            type="number"
            class="form-control"
            name="cashPayment"
            id="field_cashPayment"
            data-cy="cashPayment"
            formControlName="cashPayment"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_principalPayment">Principal Payment</label>
          <input
            type="number"
            class="form-control"
            name="principalPayment"
            id="field_principalPayment"
            data-cy="principalPayment"
            formControlName="principalPayment"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_interestPayment">Interest Payment</label>
          <input
            type="number"
            class="form-control"
            name="interestPayment"
            id="field_interestPayment"
            data-cy="interestPayment"
            formControlName="interestPayment"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_outstandingBalance">Outstanding Balance</label>
          <input
            type="number"
            class="form-control"
            name="outstandingBalance"
            id="field_outstandingBalance"
            data-cy="outstandingBalance"
            formControlName="outstandingBalance"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_interestPayableOpening">Interest Payable Opening</label>
          <input
            type="number"
            class="form-control"
            name="interestPayableOpening"
            id="field_interestPayableOpening"
            data-cy="interestPayableOpening"
            formControlName="interestPayableOpening"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_interestExpenseAccrued">Interest Expense Accrued</label>
          <input
            type="number"
            class="form-control"
            name="interestExpenseAccrued"
            id="field_interestExpenseAccrued"
            data-cy="interestExpenseAccrued"
            formControlName="interestExpenseAccrued"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_interestPayableBalance">Interest Payable Balance</label>
          <input
            type="number"
            class="form-control"
            name="interestPayableBalance"
            id="field_interestPayableBalance"
            data-cy="interestPayableBalance"
            formControlName="interestPayableBalance"
          />
        </div>

        <div class="row mb-3">
          <label for="field_placeholders">Placeholder</label>
          <select
            class="form-control"
            id="field_placeholders"
            data-cy="placeholder"
            multiple
            name="placeholders"
            formControlName="placeholders"
            [compareWith]="comparePlaceholder"
          >
            <option [ngValue]="placeholderOption" *ngFor="let placeholderOption of placeholdersSharedCollection">
              {{ placeholderOption.description }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_leaseContract">Lease Contract</label>
          <select
            class="form-control"
            id="field_leaseContract"
            data-cy="leaseContract"
            name="leaseContract"
            formControlName="leaseContract"
            [compareWith]="compareLeaseContract"
          >
            <option *ngIf="!editForm.get('leaseContract')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="leaseContractOption" *ngFor="let leaseContractOption of leaseContractsSharedCollection">
              {{ leaseContractOption.bookingId }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['leaseContract'])!.invalid && (editForm.get(['leaseContract'])!.dirty || editForm.get(['leaseContract'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['leaseContract'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_leaseModelMetadata">Lease Model Metadata</label>
          <select
            class="form-control"
            id="field_leaseModelMetadata"
            data-cy="leaseModelMetadata"
            name="leaseModelMetadata"
            formControlName="leaseModelMetadata"
            [compareWith]="compareLeaseModelMetadata"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="leaseModelMetadataOption" *ngFor="let leaseModelMetadataOption of leaseModelMetadataSharedCollection">
              {{ leaseModelMetadataOption.modelTitle }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_universallyUniqueMappings">Universally Unique Mapping</label>
          <select
            class="form-control"
            id="field_universallyUniqueMappings"
            data-cy="universallyUniqueMapping"
            multiple
            name="universallyUniqueMappings"
            formControlName="universallyUniqueMappings"
            [compareWith]="compareUniversallyUniqueMapping"
          >
            <option
              [ngValue]="universallyUniqueMappingOption"
              *ngFor="let universallyUniqueMappingOption of universallyUniqueMappingsSharedCollection"
            >
              {{ universallyUniqueMappingOption.universalKey }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
