<!--

    Erp System - Mark VI No 1 (Phoebe Series) Client 1.5.3
    Copyright © 2021 - 2023 Edwin Njeru (mailnjeru@gmail.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.

-->
<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="workInProgressRegistration">
      <h2 data-cy="workInProgressRegistrationDetailsHeading"><span>Work In Progress Registration</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ workInProgressRegistration.id }}</span>
        </dd>
        <dt><span>Sequence Number</span></dt>
        <dd>
          <span>{{ workInProgressRegistration.sequenceNumber }}</span>
        </dd>
        <dt><span>Particulars</span></dt>
        <dd>
          <span>{{ workInProgressRegistration.particulars }}</span>
        </dd>
        <dt><span>Instalment Amount</span></dt>
        <dd>
          <span>{{ workInProgressRegistration.instalmentAmount }}</span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
          <div *ngIf="workInProgressRegistration.comments">
            <a (click)="openFile(workInProgressRegistration.comments, workInProgressRegistration.commentsContentType)">open</a>
            {{ workInProgressRegistration.commentsContentType }}, {{ byteSize(workInProgressRegistration.comments) }}
          </div>
        </dd>
        <dt><span>Placeholder</span></dt>
        <dd>
          <span *ngFor="let placeholder of workInProgressRegistration.placeholders; let last = last">
            <a [routerLink]="['/placeholder', placeholder?.id, 'view']">{{ placeholder.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Payment Invoices</span></dt>
        <dd>
          <span *ngFor="let paymentInvoices of workInProgressRegistration.paymentInvoices; let last = last">
            <a [routerLink]="['/payment-invoice', paymentInvoices?.id, 'view']">{{ paymentInvoices.invoiceNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Service Outlet</span></dt>
        <dd>
          <span *ngFor="let serviceOutlet of workInProgressRegistration.serviceOutlets; let last = last">
            <a [routerLink]="['/service-outlet', serviceOutlet?.id, 'view']">{{ serviceOutlet.outletCode }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Settlement</span></dt>
        <dd>
          <span *ngFor="let settlement of workInProgressRegistration.settlements; let last = last">
            <a [routerLink]="['/settlement', settlement?.id, 'view']">{{ settlement.paymentNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Purchase Order</span></dt>
        <dd>
          <span *ngFor="let purchaseOrder of workInProgressRegistration.purchaseOrders; let last = last">
            <a [routerLink]="['/purchase-order', purchaseOrder?.id, 'view']">{{ purchaseOrder.purchaseOrderNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Delivery Note</span></dt>
        <dd>
          <span *ngFor="let deliveryNote of workInProgressRegistration.deliveryNotes; let last = last">
            <a [routerLink]="['/delivery-note', deliveryNote?.id, 'view']">{{ deliveryNote.deliveryNoteNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Job Sheet</span></dt>
        <dd>
          <span *ngFor="let jobSheet of workInProgressRegistration.jobSheets; let last = last">
            <a [routerLink]="['/job-sheet', jobSheet?.id, 'view']">{{ jobSheet.serialNumber }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Dealer</span></dt>
        <dd>
          <div *ngIf="workInProgressRegistration.dealer">
            <a [routerLink]="['/erp/dealer', workInProgressRegistration.dealer?.id, 'view']">{{
              workInProgressRegistration.dealer?.dealerName
            }}</a>
          </div>
        </dd>
        <dt><span>Business Document</span></dt>
        <dd>
          <span *ngFor="let businessDocument of workInProgressRegistration.businessDocuments; let last = last">
            <a [routerLink]="['/business-document', businessDocument?.id, 'view']">{{ businessDocument.documentTitle }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Asset Accessory</span></dt>
        <dd>
          <span *ngFor="let assetAccessory of workInProgressRegistration.assetAccessories; let last = last">
            <a [routerLink]="['/asset-accessory', assetAccessory?.id, 'view']">{{ assetAccessory.assetDetails }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Asset Warranty</span></dt>
        <dd>
          <span *ngFor="let assetWarranty of workInProgressRegistration.assetWarranties; let last = last">
            <a [routerLink]="['/asset-warranty', assetWarranty?.id, 'view']">{{ assetWarranty.description }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        (click)='editButtonEvent(workInProgressRegistration)'
        [routerLink]="['/work-in-progress-registration', workInProgressRegistration.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>

      <button
        type="button"
        (click)='copyButtonEvent(workInProgressRegistration)'
        [routerLink]="['/work-in-progress-registration', workInProgressRegistration.id, 'copy']"
        class="btn btn-primary"
      >
        <fa-icon icon="copy"></fa-icon>&nbsp;<span>Copy</span>
      </button>
    </div>
  </div>
</div>
