<div>
  <h2 id="page-heading" data-cy="XlsxReportRequisitionHeading">
    <span>Xlsx Report Requisitions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-xlsx-report-requisition"
        [routerLink]="['/xlsx-report-requisition/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down"> Create a new Xlsx Report Requisition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch">Search for Xlsx Report Requisition</label>
        <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query" />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        <button class="btn btn-danger" (click)="search('')" *ngIf="currentSearch">
          <fa-icon icon="trash-alt"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="xlsxReportRequisitions?.length === 0">
    <span>No Xlsx Report Requisitions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="xlsxReportRequisitions && xlsxReportRequisitions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportName">
            <div class="d-flex">
              <span>Report Name</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportDate">
            <div class="d-flex">
              <span>Report Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userPassword">
            <div class="d-flex">
              <span>User Password</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportFileChecksum">
            <div class="d-flex">
              <span>Report File Checksum</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportStatus">
            <div class="d-flex">
              <span>Report Status</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportId">
            <div class="d-flex">
              <span>Report Id</span>
              <fa-icon class="p-1" *ngIf="!currentSearch" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="reportTemplate.catalogueNumber">
            <div class="d-flex">
              <span>Report Template</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let xlsxReportRequisition of xlsxReportRequisitions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/xlsx-report-requisition', xlsxReportRequisition.id, 'view']">{{ xlsxReportRequisition.id }}</a>
          </td>
          <td>{{ xlsxReportRequisition.reportName }}</td>
          <td>{{ xlsxReportRequisition.reportDate | formatMediumDate }}</td>
          <td>{{ xlsxReportRequisition.userPassword }}</td>
          <td>{{ xlsxReportRequisition.reportFileChecksum }}</td>
          <td>{{ xlsxReportRequisition.reportStatus }}</td>
          <td>{{ xlsxReportRequisition.reportId }}</td>
          <td>
            <div *ngIf="xlsxReportRequisition.reportTemplate">
              <a [routerLink]="['/report-template', xlsxReportRequisition.reportTemplate.id, 'view']">{{
                xlsxReportRequisition.reportTemplate.catalogueNumber
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/xlsx-report-requisition', xlsxReportRequisition.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/xlsx-report-requisition', xlsxReportRequisition.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(xlsxReportRequisition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="xlsxReportRequisitions && xlsxReportRequisitions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
