<div class="form-group">
  <label class="form-control-label">Signatories</label>
  <ng-select
    [items]="dealerLookups$ | async"
    bindLabel="dealerName"
    [trackByFn]="trackDealerByFn"
    [minTermLength]="minAccountLengthTerm"
    [loading]="dealersLoading"
    typeToSearchText="Please enter {{minAccountLengthTerm}} or more characters"
    [typeahead]="dealersInput$"
    [(ngModel)]='inputDealers'
    (change)="getValues()"
    [multiple]='true'
  >
    <ng-option *ngFor="let option of dealerLookups$ | async" [value]="option">
      {{ option.dealerName }}
    </ng-option>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <!-- // TODO Check if we need to track selection on the many to many entities with selected: boolean-->
      <input id="item-{{index}}" type="checkbox" [checked]="item$.selected" />
      <jhi-dealer-option-view [item]='item'></jhi-dealer-option-view>
    </ng-template>
  </ng-select>
  <div *jhiHasAnyAuthority="'ROLE_DEV'">{{inputDealers|json}}</div>
</div>
